nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 10vh;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center; 
    border-bottom: 1px solid black;
}

ul li{
    margin-bottom: 0;
}

.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.9);
}

#inMod{
    background-color: whitesmoke;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 900px){
    nav{
        min-height: 12vh;
    }
}

@media (max-width: 750px){
    nav{
        min-height: 13vh;
    }
}

@media (max-width: 600px){
    nav{
        min-height: 15vh;
    }
}

@media (max-width: 450px){
    nav{
        min-height: 17vh;
    }
}

@media (max-width: 300px){
    nav{
        min-height: 20vh;
    }
}